<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
		
		<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${pc.jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${pc.jdbc.url}"></property> <!-- change port -->
		<property name="user" value="${pc.jdbc.user}"></property>
		<property name="password" value="${pc.jdbc.password}"></property> <!-- change password -->
		<property name="initialPoolSize" value="${pc.jdbc.initialPoolSize}"></property>
		<property name="maxIdleTime" value="${pc.jdbc.maxIdleTime}"></property>
		<property name="maxPoolSize" value="${pc.jdbc.maxPoolSize}"></property>
		<property name="minPoolSize" value="${pc.jdbc.minPoolSize}"></property>
	</bean>
	
	<bean id="dataSource_security" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${pc.security.jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${pc.security.jdbc.url}"></property> <!-- change port -->
		<property name="user" value="${pc.security.jdbc.user}"></property>
		<property name="password" value="${pc.security.jdbc.password}"></property> <!-- change password -->
		<property name="initialPoolSize" value="${pc.security.jdbc.initialPoolSize}"></property>
		<property name="maxIdleTime" value="${pc.security.jdbc.maxIdleTime}"></property>
		<property name="maxPoolSize" value="${pc.security.jdbc.maxPoolSize}"></property>
		<property name="minPoolSize" value="${pc.security.jdbc.minPoolSize}"></property>
	</bean>
	
	<bean id="dataSource_sms" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${sms.jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${sms.jdbc.url}"></property> <!-- change port -->
		<property name="user" value="${sms.jdbc.user}"></property>
		<property name="password" value="${sms.jdbc.password}"></property> <!-- change password -->
		<property name="initialPoolSize" value="${sms.jdbc.initialPoolSize}"></property>
		<property name="maxIdleTime" value="${sms.jdbc.maxIdleTime}"></property>
		<property name="maxPoolSize" value="${sms.jdbc.maxPoolSize}"></property>
		<property name="minPoolSize" value="${sms.jdbc.minPoolSize}"></property>
	</bean>
	
	<!-- 	动态数据源 -->
	<bean class="cn.edu.bjtu.util.DynamicDataSource" id="dynamicDataSource">
	<property name="targetDataSources">
		<map key-type="java.lang.String">
			<entry value-ref="dataSource" key="dataSource"></entry>
			<entry value-ref="dataSource_security" key="dataSource_security"></entry>
			<entry value-ref="dataSource_sms" key="dataSource_sms"></entry>
		</map>
	</property>
	<property name="defaultTargetDataSource" ref="dataSource"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dynamicDataSource" />
		<!-- 自动扫描注解方式配置的hibernate类文件 -->
		<property name="packagesToScan">
			<list>
				<value>cn.edu.bjtu.vo</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLInnoDBDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_sql_comments">true</prop> 
			</props>
		</property>
	</bean>
	
	<!-- 配置事务 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
          <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="txManager"/> 
		
</beans>